.darkTheme {
  background-color: var(--dark-bg) !important;
  color: var(--light-text) !important;
}

.lightTheme {
  background-color: var(--light-bg) !important;
  color: var(--dark-text) !important;
}